@model ProyectFinal_Anthony_Santana.Models.Peliculas

@{
    ViewBag.Title = "Delete";
}
<div class="jumbotron">
    <h2>ELIMINAR PELICULAS</h2>

</div>

<h3>¿Seguro que desea Eliminar esta Pelicula?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="jumbotron">
            <input type="submit" value="ELIMINAR" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a Listado", "Index")
        </div>
    }
</div>
