<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("INICIO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                 
                    <li>@Html.ActionLink("INFORMACION", "About", "Home")</li>
                    <li>@Html.ActionLink("CONTACTOS", "Contact", "Home")</li>
                  
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Peliculas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">PELICULAS</li>
                            <li>@Html.ActionLink("Registrar", "Create", "Peliculas")</li>
                            <li>@Html.ActionLink("Consulta", "Index", "Peliculas")</li>
                          
                        </ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CLIENTES <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-header">CLIENTES</li>
                            <li>@Html.ActionLink("Registrar", "Create", "Clientes")</li>
                            <li>@Html.ActionLink("Consulta", "Index", "Clientes")</li>
                 

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SERIES <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-header">CLIENTES</li>
                            <li>@Html.ActionLink("Registrar", "Create", "Series")</li>
                            <li>@Html.ActionLink("Consulta", "Index", "Series")</li>


                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Proyecto Final ITLA  Copyright ANTHONY SATNANA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
